# Bağımlılıklar
node_modules
npm-debug.log

# Derlenmiş dosyalar
dist
build
.strapi
.tmp
generated

# Geliştirme dosyaları
.git
.github
.vscode
.idea
*.md
.gitignore
.env
.env.*
!.env.example

# Test ve dokümantasyon
coverage
doc
docs
*.test.*
*.spec.*

# Geçici dosyalar
tmp
temp
.DS_Store
Thumbs.db

# Docker
.docker
Dockerfile
docker-compose.yml
.dockerignore

# Build ve derleme çıktıları
.cache
.env.local
.env.development.local
.env.test.local
.env.production.local

# Loglar
logs
*.log
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# VSCode, IDE ve editor dosyaları
*.sublime-*
*.swp
*.swo 