# Veritabanı bağlantısı
DATABASE_URL="postgresql://username:password@localhost:5432/pasha_db?schema=public"

# Sunucu ayarları
PORT=3001
PUBLIC_URL="http://localhost:3001"
NODE_ENV="development"

# JWT Secret
JWT_SECRET="your-jwt-secret-key-here"



# Frontend URL yapılandırması
# Development için
FRONTEND_URL="http://localhost:3000"

# Production için (isteğe bağlı - otomatik algılanır)
# PRODUCTION_FRONTEND_URL="https://pasha-frontend.vercel.app/"

# Vercel deployment için (otomatik algılanır)
# VERCEL_URL="https://pasha-frontend.vercel.app/"

# Railway deployment için (otomatik algılanır)
# RAILWAY_STATIC_URL="https://your-app.railway.app"

# Tebi.io S3 Configuration
TEBI_ACCESS_KEY="7g0lSu2Jz69JwaM0"
TEBI_SECRET_KEY="l1fLaDDwrVBPQfElfC3JUOamH8U1VNpU0d5gaxi2"
TEBI_BUCKET_NAME="pashahome" 